@import "../../sass/servicies"

.Home
  overflow: hidden
  h2
    font-weight: 400
    @include adaptiv-font(54, 36)
    margin-top: 5vh
    @media screen and (min-width: 980px)
      margin-top: 30vh
    text-align: center
